# class in  OOP

In [1]:
s= 34
print(type(s))

<class 'int'>

In [2]:
a=23
print(type(a))

<class 'int'>

In [3]:
c=12.6
print(type(c))

<class 'float'>

In [4]:
d='etlhive'
print(type(d))

<class 'str'>

In [5]:
e=False
print(type(e))

<class 'bool'>

In [6]:
d=[2,3,4]
print(type(d))

<class 'list'>

In [7]:
e=(5,6,7)
print(type(e))

<class 'tuple'>

In [8]:
f={
    "a":1,
    "b":2,
    "c":3
}
type(f)

dict

In [9]:
import pandas as pd

In [10]:
emp={
    "id":[1,2,3],
    "name":["gauri","Sharada","puja"],
    "salary":[34000,20000,50000]
}
type(emp)

dict

In [11]:
emp_df=pd.DataFrame(emp)
emp_df

   id     name  salary
0   1    gauri   34000
1   2  Sharada   20000
2   3     puja   50000

In [12]:
print(type(emp_df))

<class 'pandas.core.frame.DataFrame'>

# Attributs 
1. Shape
2. columns
3. index
4. dtype
5. Value

In [13]:
emp_df.shape

(3, 3)

In [14]:
emp_df.columns

Index(['id', 'name', 'salary'], dtype='object')

In [15]:
emp_df.index

RangeIndex(start=0, stop=3, step=1)

In [16]:
emp_df.dtypes

id         int64
name      object
salary     int64
dtype: object

In [17]:
emp_df.values

array([[1, 'gauri', 34000],
       [2, 'Sharada', 20000],
       [3, 'puja', 50000]], dtype=object)

# Function / Methods

In [18]:
# Incorrect 
emp_df.info

<bound method DataFrame.info of    id     name  salary
0   1    gauri   34000
1   2  Sharada   20000
2   3     puja   50000>

In [19]:
emp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   name    3 non-null      object
 2   salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [20]:
emp_df.sort_values(by="salary",ascending= False)

   id     name  salary
2   3     puja   50000
0   1    gauri   34000
1   2  Sharada   20000

## Creating a user defined class

#### Self is any object of class person

In [21]:
class person:
    # Create a constructor function to define attributes
    def __init__(self,name:str,age:int,gender:str,occupation:str)-> None:
       self.name=name  
       self.age=age 
       self.gender=gender
       self.occupation=occupation
    
    # Create a method for class
    def introduce(self):
        print(f"Hi My Name is:{self.name}")
        print(f"My age is {self.age}years")
        print(f"I am {self.gender}")
        print(f"I work as {self.occupation}")

In [22]:
p1=person(name="Gauri",age=24, gender="Female",occupation="HR")
print(type(p1))

<class '__main__.person'>

## __main__means current file which i am working

In [23]:
p1

In [24]:
p1.name

'Gauri'

In [25]:
p1.age

24

In [26]:
p1.gender

'Female'

In [27]:
p1.occupation

'HR'

In [28]:
p1.introduce()

Hi My Name is:Gauri
My age is 24years
I am Female
I work as HR

In [29]:
p2=person(name="Sharada",age=23, gender="Female",occupation="Engineer")
type(p2)

__main__.person

In [30]:
p2.name

'Sharada'

In [31]:
p2.age

23

In [32]:
p2.gender

'Female'

In [33]:
p2.occupation

'Engineer'

In [34]:
p2.introduce()

Hi My Name is:Sharada
My age is 23years
I am Female
I work as Engineer

In [35]:
p3=person(12,"seema","HR","male")
type(p3)

__main__.person

In [36]:
p3.name

12

In [37]:
p3.age

'seema'

In [38]:
p3.gender

'HR'

In [39]:
p3.occupation

'male'

In [40]:
p3.introduce()

Hi My Name is:12
My age is seemayears
I am HR
I work as male

### Dataclasses

In [3]:
a=23
assert type(a)== str ,"Input should be str"

AssertionError: Input should be str

In [ ]:
from dataclasses import dataclass

In [ ]:
from typing import Literal

In [ ]:
a=3
isinstance(a,int)

True

In [ ]:
isinstance(a,str)

False

In [1]:
@dataclass
class Person2:
    name: str
    age: int
    gender: Literal["male", "female"]
    occupation: str

    def __post_init__(self):
        errors = []

        if not isinstance(self.name, str):
            errors.append("Name should be a string")
        if not isinstance(self.age, int) or self.age <= 0:
            errors.append("age should be a positive integer")
        if self.gender not in ["male", "female"]:
            errors.append("gender can be either male or female")
        if not isinstance(self.occupation, str):
            errors.append("occupation should be a string")

        if errors:
            raise ValueError("\n".join(errors))
    
    def talk(self):
        print(f"My name is {self.name}")
        print(f"My age is {self.age}")
        print(f"I am {self.gender}")
        print(f"I work as a {self.occupation}")

NameError: name 'dataclass' is not defined

In [4]:
@dataclass
class person2:
    name:str
    age:int
    gender:Literal["male","Female"]
    occupation:str

    def __post_int__(self):
        errors=[]

        if not isinstance(self.name,str):
            errors.append("Name should be a string")
        if not isinstance(self.age,int)or self.age<=0:
            errors.append("age should be a positive integer")
        if self.gender not in["male","female"]:
            errors.append("gender can be either male or female")
        if not isinstance(self.occupation,str):
            errors.append("occupation should be a string")

        if errors:
            raise ValueError("\n".join(errors))
        
        def talk(self):
            print(f"My name is{self.name}")
            print(f"My age is {self.age}")
            print(f"I am {self.gender}")
            print(f"I work as a {self.occupation}")

NameError: name 'dataclass' is not defined

In [ ]:
p5=person2(name="Seema",age=23,gender="Female",occupation="Financial Analyst")

In [ ]:
p5.name

'Seema'

In [ ]:
p5.age

23

In [ ]:
p5.gender

'Female'

In [ ]:
p5.occupation

'Financial Analyst'

In [ ]:
p5.talk()

NameError: name 'p5' is not defined

In [ ]:
p6=person2(name=23,age=-3,gender="male",occupation="HR")

In [ ]:
p6

person2(name=23, age=-3, gender='male', occupation='HR')

In [ ]:
p6=person2(name="Rani",age=29,gender="HR",occupation="male")

In [ ]:
p6

person2(name='Rani', age=29, gender='HR', occupation='male')

In [ ]:
p6=person2(name="Seema",age=29,gender="Female",occupation="HR")

In [ ]:
p6

person2(name='Seema', age=29, gender='Female', occupation='HR')

In [ ]:
p6.talk()

NameError: name 'p6' is not defined