# class in  OOP

In [7]:
s= 34
print(type(s))

<class 'int'>

In [5]:
a=23
print(type(a))

<class 'int'>

In [2]:
c=12.6
print(type(c))

<class 'float'>

In [3]:
d='etlhive'
print(type(d))

<class 'str'>

In [4]:
e=False
print(type(e))

<class 'bool'>

In [8]:
d=[2,3,4]
print(type(d))

<class 'list'>

In [9]:
e=(5,6,7)
print(type(e))

<class 'tuple'>

In [10]:
f={
    "a":1,
    "b":2,
    "c":3
}
type(f)

dict

In [11]:
import pandas as pd

In [12]:
emp={
    "id":[1,2,3],
    "name":["gauri","Sharada","puja"],
    "salary":[34000,20000,50000]
}
type(emp)

dict

In [13]:
emp_df=pd.DataFrame(emp)
emp_df

   id     name  salary
0   1    gauri   34000
1   2  Sharada   20000
2   3     puja   50000

In [14]:
print(type(emp_df))

<class 'pandas.core.frame.DataFrame'>

# Attributs 
1. Shape
2. columns
3. index
4. dtype
5. Value

In [15]:
emp_df.shape

(3, 3)

In [16]:
emp_df.columns

Index(['id', 'name', 'salary'], dtype='object')

In [17]:
emp_df.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
emp_df.dtypes

id         int64
name      object
salary     int64
dtype: object

In [19]:
emp_df.values

array([[1, 'gauri', 34000],
       [2, 'Sharada', 20000],
       [3, 'puja', 50000]], dtype=object)

# Function / Methods

In [20]:
# Incorrect 
emp_df.info

<bound method DataFrame.info of    id     name  salary
0   1    gauri   34000
1   2  Sharada   20000
2   3     puja   50000>

In [21]:
emp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   name    3 non-null      object
 2   salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [24]:
emp_df.sort_values(by="salary",ascending= False)

   id     name  salary
2   3     puja   50000
0   1    gauri   34000
1   2  Sharada   20000

## Creating a user defined class

#### Self is any object of class person

In [ ]:
class person:
    # Create a constructor function to define attributes
    def __init__(self,name:str,age:int,gender:str,occupation:str)-> None:
       self.name=name  
       self.age=age 
       self.gender=gender
       self.occupation=occupation
    
    # Create a method for class
    def introduce(self):
        print(f"Hi My Name is:{self.name}")
        print(f"My age is {self.age}years")
        print(f"I am {self.gender}")
        print(f"I work as {self.occupation}")

In [41]:
p1=person(name="Gauri",age=24, gender="Female",occupation="HR")
print(type(p1))

<class '__main__.person'>

## __main__means current file which i am working

In [42]:
p1

In [43]:
p1.name

'Gauri'

In [44]:
p1.age

24

In [45]:
p1.gender

'Female'

In [46]:
p1.occupation

'HR'

In [47]:
p1.introduce()

Hi My Name is:Gauri
My age is24years
I am Female
I work as HR

In [ ]:
p2=person(name="Sharada",age=23, gender="Female",occupation="Engineer")
type(p2)

__main__.person

In [36]:
p2.name

'Sharada'

In [37]:
p2.age

23

In [38]:
p2.gender

'Female'

In [39]:
p2.occupation

'Engineer'

In [48]:
p2.introduce()

Hi My Name is:Sharada
My age is23years
I am Female
I work as Engineer